body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.slider {
    height:50%;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,250,0.9);
}

.slides {
    display: flex;
    width: 400%;
    gap:5px;
    animation: slide-animation 3s infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.slide {
    width: 25%;
    height:400px;
    flex-shrink: 0;
    border-radius:50px;
}

.slide img {
    width: 100%;
    border-radius:50px;
    display: block;
}

@keyframes slide-animation {
    0% { transform: translateX(0%); }
    50% { transform: translateX(-25%); }
    75%{ transform: translateX(-50%); }
    100% { transform: translateX(0%); }
    /*100% { transform: translateX(0%); }*/
}
